
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    background-color: #EAE1E2;
}

header{
    display: flex;
    background-color: #722F37;
    margin: 20px 50px;
    padding-top: 10px ;
    padding-bottom: 10px;
    align-items: center;
    justify-content: center;    
    flex-direction: column;
    color: #EAE1E2;    
    font-family: Rockwell;
    font-weight: bold;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #721422;
    font-family: Rockwell;
    font-weight: bold;
    gap: 30px;
}

main #vinos-container{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 40px;
    color: #721422;
    font-family: Rockwell;
    font-weight: bold;
    button.vinoAgregar{
        padding: 10px 20px;
        background-color: #828282;
        color: whitesmoke;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-family: Rockwell;
    }
}


.subtitulo{
    display: flex;
    align-items: center;
    justify-content: center;
}

main #cart-section{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 40px;
    color: #721422;
    font-family: Rockwell;
    font-weight: bold;
    button{
        padding: 10px 20px;
        background-color: #828282;
        color: black;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-family: Rockwell;
    }    
}

main #cart-section #cantidad{
    display: flex;
    align-items: center;
    gap: 3px;
}
button .limpiarCarrito{
    padding: 10px 20px;
        background-color: #828282;
        color: black;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-family: Rockwell;
}
        
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}